
__pycache__/
*.pyc
*.pyo
*.pyd


venv/
env/
.venv/


.env
.env.*



.DS_Store
Thumbs.db

.vscode/
.idea/

chromedriver*
geckodriver*

output/**
!output/
!output/images/
!output/data/
!output/images/.gitkeep
!output/data/.gitkeep